<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
           <id>local</id>
           <activation>
               <activeByDefault>true</activeByDefault>
           </activation>
           <properties>
           
           </properties>
        </profile>
        <profile>
            <id>quick</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <skipTests>true</skipTests>
                <cobertura.check.haltOnFailure>false</cobertura.check.haltOnFailure>
                <pmd.skip>true</pmd.skip>
                <checkstyle.skip>true</checkstyle.skip>
                <findbug.skip>true</findbug.skip>
            </properties>
        </profile>
    </profiles>
</settings>