build/local.properties
caintegrator2-war/local.properties
target/
caintegrator2-war/target/
lib/
caintegrator2-war/test/resources/tmp*
caintegrator2-war/test/resources/QA_Test_Study
caintegrator2-war/test/resources/__MACOSX
caintegrator2-war/test/resources/Pilot Study
caintegrator2-war/test/resources/arraydesign/affymetrix/*.csv
caintegrator2-war/test/resources/arraydesign/affymetrix/*.cdf
caintegrator2-war/test/resources/arraydesign/affymetrix/*.txt
caintegrator2-war/test/resources/arraydata/affymetrix/*.cnchp
