<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="caIntegrator2" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>caIntegrator</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/classes/application-config-common-security.xml
        <!-- Configuration for CAS SSO-->
        <!-- /WEB-INF/classes/application-config-cas-security.xml -->
        <!-- Configuration for non SSO-->
        <!-- /WEB-INF/classes/application-config-non-cas-security.xml -->
            /WEB-INF/classes/caintegrator2-config.xml
         </param-value>
    </context-param>
    
    <context-param>
        <description>This parameter indicates to the application that single sign on is enabled and it should not show login fields.</description>
        <param-name>ssoEnabled</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <description>CAS Logout URL</description>
        <param-name>casServerLogoutUrl</param-name>
        <param-value>https://@cas.server.hostname@:@cas.server.port@/cas/logout</param-value>
    </context-param>
    
    <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>

    <!-- Application version information being stored as an application context param -->
    <context-param>
        <param-name>caintegrator2Version</param-name>
        <param-value>@caintegrator2.version@</param-value>
    </context-param>
    <context-param>
        <param-name>svnUrl</param-name>
        <param-value>@svn.url@</param-value>
    </context-param>
    <context-param>
        <param-name>svnRevision</param-name>
        <param-value>@svn.revision@</param-value>
    </context-param>
    <context-param>
        <param-name>caintegrator2Svntag</param-name>
        <param-value>@caintegrator2.svntag@</param-value>
    </context-param>
    <context-param>
        <param-name>caintegrator2Builddate</param-name>
        <param-value>@caintegrator2.builddate@</param-value>
    </context-param>
    <context-param>
        <param-name>templatePath</param-name>
        <param-value>template</param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

<!-- For testing uncomment this session to set the session timeout to 1 minute.
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
-->
    <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <!-- Export Filter (for exporting data results) -->
    <filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AcegiFilters</filter-name>
        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>sessionFixation</filter-name>
        <filter-class>com.fiveamsolutions.nci.commons.web.filter.SessionFixationProtectionFilter</filter-class>
    </filter>

    <filter>
      <filter-name>neverExpireFilter</filter-name>
      <filter-class>gov.nih.nci.caintegrator2.web.filter.NeverExpireFilter</filter-class>
    </filter>

    <filter>
      <filter-name>longCacheFilter</filter-name>
      <filter-class>gov.nih.nci.caintegrator2.web.filter.LongCacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionTimeoutFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionFixation</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>


	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>AcegiFilters</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/common/js/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/common/css/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/struts/dojo/*</url-pattern>
     </filter-mapping>
     <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/struts/ajax/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/struts/xhtml/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/struts/css_xhtml/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/struts/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/struts/dojo/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/struts/ajax/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/struts/xhtml/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/struts/css_xhtml/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/struts/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>gov.nih.nci.caintegrator2.web.listener.SessionCleanupListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>logoRenderingServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>viewerServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>dwr</servlet-name>
    	<servlet-class>
    		org.directwebremoting.spring.DwrSpringServlet
    	</servlet-class>
    	<init-param>
    		<param-name>debug</param-name>
    		<param-value>true</param-value>
    	</init-param>
    	<init-param>
    		<param-name>activeReverseAjaxEnabled</param-name>
    		<param-value>true</param-value>
    	</init-param>
    </servlet>

    <servlet-mapping>
    	<servlet-name>dwr</servlet-name>
    	<url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>logoRenderingServlet</servlet-name>
        <url-pattern>/logo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>viewerServlet</servlet-name>
        <url-pattern>/viewer/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>welcome.action</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>

</web-app>
